<mj-section css-class="subscriptions">
  <mj-column>
    <mj-text css-class="subscribe">
      <a href="http://eepurl.com/giW4uf">Subscribe to our newsletter</a>
    </mj-text>
    <mj-text css-class="unsubscribe">
      Choose which notifications you'd like to receive on your
      <a href="<%= Rails.configuration.frontend_url + @to.frontend_link %>/edit?t=notification-settings">profile's settings page</a>.
      <br><br>
      While we would be sad to see you go 😢, you can unsubscribe from JOGL notification
      <a href="{{{ pm:unsubscribe }}}">here</a>.
    </mj-text>
  </mj-column>
</mj-section>
